<%= form_for([@course,@test, @question]) do |f| %>
  <% if question.errors.any? %>
    <div id="error_explanation">

      <ul>
      <% question.errors.full_messages.each do |message| %>
       <div class="alert alert-warning">
<%= message %>
<button type="button" class="close" data-dismiss="alert">&times;</button>
</div>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_area :title , class: "form-control" %>
  </div>

  <div class="actions">
    <button class="btn btn-primary" type="submit" name="action">
    <i class="material-icons right">Crear pregunta</i>
  </button>
  </div>
<% end %>
