


<%= render 'nav_course' , curso: @course.nombre , id_curso: @course.id %>
<div class="panel-body">

<h1>Editando curso</h1>

<%= render 'form', course: @course %>

<%= link_to 'Show', @course %> |
<%= link_to 'Back', courses_path %>
</div>
</div>
</div>
</div>
</div>