
<%= render 'courses/nav_course' , curso: @course.nombre , id_curso: @course.id %>

 <div class="panel-body">

 <table class="table table-striped">
  <thead>
    <tr>
      <th>N°</th>
      <th>Correo electrónico</th>
     
    </tr>
  </thead>

  <tbody>
  <% cont=1 %>
    <% @inscritos.each do |inscrito| %>
      <tr>
        <td><%= cont %></td>
        <td><%= User.find(inscrito.user_id).name %></td>
      </tr>
      <% cont=cont+1 %>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>
</div>
</div>