<h1>Editando pregunta con respuesta única</h1>

<%= render 'form', answer_one: @answer_one %>

<%= link_to 'Show', course_test_question_answer_one_path(@course.id,@test.id,@question.id,@answer_one.id)  %> |

