<%= form_for([@test.course, @test]) do |f| %>
  <% if test.errors.any? %>
    <div id="error_explanation">
      
      <ul>
      <% test.errors.full_messages.each do |message| %>
        <div class="alert alert-warning">
<%= message %>
<button type="button" class="close" data-dismiss="alert">&times;</button>
</div>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="actions">
    <button class="btn btn-primary" type="submit" name="action">
    <i class="material-icons right">Crear examen</i>
  </button>
  </div>

<% end %>
